body {background-color: rgba(208, 215, 183, 0.549);}

/* Universal Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#img1 {
  float: left;
  margin-right: 20px;
   width: 10%;
   height:0%; 
   margin-bottom: 10px;
   
}
*{
    margin:00px
}

.flex-container {
  display: flex;
  margin-top: 50px
    
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}
/* CSS hover Pseudo-class was used here */
a.highlight:hover {
  color: #ff0000;
  font-size: 22px;
} 
/* Adjust the value as needed */
p {
  margin-bottom: 20px; 
}
/* Accordion style  */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}